<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<style>
    .main-body{
        height: 400px;
        width: 500px;
        margin: 20px auto;
    }
    label{
        display: block;
    }
</style>
<body>
    <div class="main-body">
        <form method="post">
            {% csrf_token %}
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="enter your username">
        <label for="email">email</label>
        <input id="email" name="email" placeholder="enter your email">
        <label for="password">password</label>
        <input id="password" name="password" placeholder="enter your password">
       <button>submit</button>
        </form>
    </div>
    
</body>
</html>